{{define "_head"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <script src="/static/vendor/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- <script src="/static/main.js"></script> -->
    <title>Jira Query Counter</title>
</head>

{{end}}