{{define "Index"}}

{{template "_head"}}

{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <button type="button" class="btn btn-primary mb-2" id="btnDadosLoginJira" data-toggle="modal"
                data-target="#loginModal">
                Add Login Data
            </button>
        </section>
        <hr />
        <section class="card">
            <form id="executionForm" action="/execute" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="queryFile">Query file</label>
                    <input type="file" class="form-control-file" id="queryFile" name="queryFile" accept=".yml, .yaml">
                </div>
                <div class="form-group">
                    <label for="fromDate">From date</label>
                    <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="From date"
                        data-date-format="dd/mm/yyyy">
                </div>
                <div class="form-group">
                    <label for="toDate">From date</label>
                    <input type="date" class="form-control" id="toDate" name="toDate" placeholder="To date"
                        data-date-format="dd/mm/yyyy">
                </div>
                <input type="hidden" name="mail" id="mail" />
                <input type="hidden" name="token" id="token" />
                <br />
                <button type="button" id="executeQuery" class="btn btn-primary mb-2">Execute Query</button>
            </form>
        </section>
        <div class="card-footer">
            <span></span>
        </div>
    </div>

    <section class="card">
        <div class="card-header" id="errorMessage">
            <span>Execution results:</span>
        </div>
        <ul class="list-group" id="executionResults"></ul>
    </section>

    <!-- login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="jiraEmail">Email: </label>
                        <input type="email" class="form-control" id="jiraEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="jiraToken">Password</label>
                        <input type="password" class="form-control" id="jiraToken" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- login modal -->
    <!-- loading modal -->
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="loadingModalContent">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>Executing query file.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading modal -->

</body>

<script src="static/js/dist/bundle.js"></script>

</html>

{{end}}
